.navbar {
    background-color: #F21D2F;
    color:#FFFACC;
    border-bottom: 5px solid #F2CB05 ;
}

footer {
    background-color: #F21D2F;
    color: #FFFACC;
    border-top: 5px solid #F2CB05 ;
}

.navbar a {
    color: #FFFACC;
}

body {
    background-color: #82B0D9;
    font-family: 'Raleway', sans-serif;
}

#burger {
    color: #FFFACC;
}

.col-lg-10 {
    background-color: #FFFACC;
}

/* Red #F21D2F Blue #82B0D9 Greenblue #B8D9C0 Brightyellow #F2E205 Darkyellow #F2CB05 Whiteish #FFFACC*/

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

#floater {
    float: left;
}

.img-block {
    display: block;
}


@media only screen and (max-width: 800px) {

#floater {
    display: none;
}

}



