
.background {
    background-image: url("Images/comics.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}; 

.bg {
    background-image: url("Images/comics.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}