.navbar {
    background-color: #F21D2F;
    border-bottom: 5px solid #F2CB05 ;
}

footer {
    background-color: #F21D2F;
    color: #FFFACC
    border-top: 5px solid #F2CB05 ;
}

a {
    color: #FFFACC;
}

body {
    background-color: #82B0D9;
    font-family: 'Raleway', sans-serif;
}
/* Red #F21D2F Blue #82B0D9 Greenblue #B8D9C0 Brightyellow #F2E205 Darkyellow #F2CB05 Whiteish #FFFACC